.weather {
    place-self: center;
    padding: 40px;
    border-radius: 10px;
    background-image: linear-gradient(10deg, #2f4680, #5b70a5, #b4a4d6);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.search-bar {
    display: flex;
    align-items: center;
    gap: 12px;
}

.search-bar input {
    height: 50px;
    border: none;
    outline: none;
    border-radius: 40px;
    padding-left: 25px;
    color: #626262;
    background: #ebfffc;
    font-size: 18px;
}

.search-bar img {
    width: 50px;
    padding: 15px;
    border-radius: 50%;
    background: #ebfffc;
}

.weather-icon {
    width: 150px;
    margin: 30px 0px;
}

.temperature {
    color: #fff;
    font-size: 80px;
    line-height: 1;
}

.description {
    opacity: 0.8;
    color: #fff;
    font-size: 18px;
    line-height: 1;
    text-transform: capitalize;
    margin-top: 10px;
}

.feelslike {
    opacity: 0.8;
    color: #fff;
    font-size: 18px;
    line-height: 1;
    text-transform: capitalize;
    margin-top: 5px;
}

.location {
    color: #fff;
    font-size: 40px;
    line-height: 1;
}

.weather-data {
    width: 100%;
    margin-top: 40px;
    color: #fff;
    display: flex;
    justify-content: space-between;
    text-align: center;
}

.weather-data .col span {
    display: block;
    font-size: 16pt;
}

.weather-data .col img {
    width: 35px;
    margin-top: 25px;
    margin-left: 25px;
    margin-right: 25px;
    margin-Bottom: 10px;
}
